<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <%= link_to  root_path  do %>
        <img alt="" src="/assets/blog.png">

      <% end %>
      <ul class="nav navbar-nav">
       
        <li><a href="#">Contacts</a></li>
       
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Blog', posts_path %></li>
       
        </ul>
       
      
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
